@import '../abstract/variables';

.page {
  margin-bottom: 2rem;

  &_title {
    font-style: normal;
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 24px;
    color: $color-deep-black;
    margin-bottom: 1.5rem;

    // @media screen and (min-width: 768px) {
    //   // font-size: $font-size-extra-large;
    //   font-size: $font-size-large;
    //   margin-bottom: 3rem;
    // }
  }

  &_subtitle {
    color: $color-ash;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.8;
  }
}

.border-bottom {
  border-bottom: 1px solid #f9f9f9 !important;
}

.border-top {
  border-top: 1px solid #f9f9f9 !important;
}

.border {
  border: 1px solid rgb(0 0 0 / .1) !important;
}

.radius {
  border-radius: 1rem;
}

.pointer {
  cursor: pointer;
}

.bg{
  &--success {
    background-color: $color-green !important;
  }

  &--danger {
    background-color: $color-danger !important;
  }

  &--dark {
    background-color: $color-primary !important;
  }
}
