/////////////////////colours//////////////////

// $color-primary:#258903;
// $color-primary: #d62828;
$color-primary: #2E4E74;
$color-primary2: #002E5B;
$color-secondary:#F56B2A;
$color-secondary-light:#FEE9DF;
$color-ash:#828282;
$color-white:#ffffff;
$color-black:#000;
$color-deep-black:#333333;
$color-blue: #2F80ED;
$color-danger:#FF1A1A;
// $color-green:#6FCF97;
$color-green: #28a745;
$color-yellow: #F2C94C;
$app-background: #FCFBFB;
$site-width: 1980px;

/////////////////////////font size////////////////////////////

$font-size-extra-large: 32px;
$font-size-large: 22px;
$font-size-medium:18px;
$font-size-regular:14px;
$font-size-regular-alt:16px;
$font-size-semi-small: 11px;
$font-size-small: 9px;
$font-size-tiny:7px;


