@import '../../../styles/abstract/variables';

* {
  transition: all 0.15s ease-out;
}

.topnav {
  position: fixed;
  width: 100%;
  z-index: 3;
  height: 7rem;
  background-color: $color-primary;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;

  @media all and (min-width: 768px) {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  @media all and (min-width: 992px) {
    padding-left: 8rem;
    padding-right: 8rem;
  }

  &_logo {
    font-size: 24px;
    color: $color-white;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
  }

  &_menu {
    list-style: none;
    position: absolute;
    z-index: 2;
    right: 0;
    top: 7rem;
    background: $color-primary;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: .5rem;

    @media all and (min-width: 992px) {
      position: relative;
      display: inline-flex;
      align-items: center;
      top: 0;
      flex-direction: row;
    }
  }

  &_link {
    font-size: 2rem;
    color: $color-white;
    font-weight: 400;
    margin-left: 12px;
    margin-right: 12px;
    padding: 1rem;
    text-transform: capitalize;

    &.activeLink {
      // color: $color-primary2;
      border: 1px solid;
    }
  }

  &_user {
    background-color: $color-white;
    color: $color-black;
    padding: .5rem;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    transform: translateX(-10px);
    z-index: -1;

    span {
      padding-left: 1.25rem;
      padding-right: 1rem;
      font-size: 12px;
      // font-weight: 300;
      text-transform: capitalize;
      line-height: 1.2;
    }
  }
}
