<section>
    <div class="page">
        <h4 class="page_title text--capital">Change password</h4>
        <h4 class="page_subtitle m-0">Change password for your account</h4>
    </div>
    <div>
        <div nz-row [nzGutter]="[10, 10]">
            <div nz-col nzXs="24" nzSm="24" nzMd="8" class="gutter-row">
              <div class="card border-0 card--grey">
                <form nz-form nzLayout="vertical" [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
                    <ng-container *ngIf="changePasswordForm.errors">
                        <span *ngIf="changePasswordForm.errors.badRequest" class="text--danger mb-2 d-block text-center text--semi-small">
                          {{changePasswordForm.errors.badRequest}}
                        </span>
                        <span *ngIf="changePasswordForm.errors.unAuthorized"
                          class="text--danger mb-2 d-block text-center text--semi-small">
                          {{changePasswordForm.errors.unAuthorized}}
                        </span>
                      </ng-container>
                  <nz-form-item>
                    <nz-form-label>Old Password</nz-form-label>
                    <nz-form-control nzErrorTip="Please input your password">
                      <input nzSize='large' nz-input formControlName="oldpassword" type="password" />
                    </nz-form-control>
                  </nz-form-item>
                  <nz-form-item>
                    <nz-form-label>New Password</nz-form-label>
                    <nz-form-control nzErrorTip="Please input your new password">
                      <input nzSize='large'  (ngModelChange)="updateConfirmValidator()" nz-input formControlName="newpassword" type="password" />
                    </nz-form-control>
                  </nz-form-item>
                  <nz-form-item>
                    <nz-form-label>Confirm Password</nz-form-label>
                    <nz-form-control [nzErrorTip]="errorTpl">
                      <input nzSize='large' nz-input formControlName="confirmpassword" type="password" />
                      <ng-template #errorTpl let-control>
                        <ng-container *ngIf="control.hasError('required')">Please confirm your password!</ng-container>
                        <ng-container *ngIf="control.hasError('confirm')">
                          Password does not match
                        </ng-container>
                      </ng-template>
                    </nz-form-control>
                  </nz-form-item>
                  <div>
                    <button class="button button--primary text--upper w-100 button--lg">
                        <div *ngIf="isProcessing" class="spinner-border text-light" role="status">
                          <span class="visually-hidden">Loading...</span>
                        </div>
                        <span *ngIf="!isProcessing">change password</span>
                      </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
    </div>
</section>